header.header
    .container
        a(class='logo' href='#')
            .logo__icon
            .logo__title Dashboard
            .logo__text v.01
        nav.nav
            ul.nav__list
                li
                    a(class= 'nav__list--link') Dashboard
                li
                    a(class= 'nav__list--link') Product
                li
                    a(class= 'nav__list--link') Customers
                li
                    a(class= 'nav__list--link') Income
                li
                    a(class= 'nav__list--link') Promote
                li
                    a(class= 'nav__list--link') Help
        .user
            img(class='user__avatar' src='../images/Icons/avatar.svg')
            .user__block
                .user__block--name Evano
                .user__block--work Project Manager
